First Column of Table Wrongly Interpreted as Anchor

### Describe the issue

[RFC 2579 Section 2 (page 18)](https://datatracker.ietf.org/doc/html/rfc2579#page-18) provides a table in the DESCRIPTION section of the definition of DateAndTime. The first column of this table is called "field" and it numbers the fields that comprise the DateAndTime datatype from 1 to 10. Datatracker wrongly thinks that these numbers are actually links to the different sections of the document. For example, when I click on the 1, it takes me to [Section 1](https://datatracker.ietf.org/doc/html/rfc2579#section-1) of the document, and clicking on 2 takes me to [Section 2](https://datatracker.ietf.org/doc/html/rfc2579#section-2) of the document, etc. It even links the 10 to [Section 10](https://datatracker.ietf.org/doc/html/rfc2579#section-10), which does not exist in the document. The numbers in this column have nothing to do with the other sections of the document and should therefore not link to them in any way. This bug would be resolved if the hyperlinks in this column are removed.

### Code of Conduct

- [X] I agree to follow the [IETF's Code of Conduct](https://github.com/ietf-tools/.github/blob/main/CODE_OF_CONDUCT.md)

Thanks for the report!

This is actually an issue in a library we depend on - I'll be transferring the issue to that library's repository.