RFC 952 HTML header reports obsoleting 2 RFCs, data tracker links just 1

### Describe the issue

[The HTML render of RFC 952](https://datatracker.ietf.org/doc/html/rfc952) reports RFCs 810 and 608 as obsoleted.  But, the tracker on the right currently only links RFC 810.  This is a slight metadata inconsistency.

Perhaps relevant, RFC 608 reports being obsoleted by 810.

### Code of Conduct

- [X] I agree to follow the [IETF's Code of Conduct](https://github.com/ietf-tools/.github/blob/main/CODE_OF_CONDUCT.md)

Yes, this is an inconsistency that we're stuck with as the incorrect representation (in the modern theory of how RFCs are obsoleted) is in the actual text of RFC 952, which is immutable.

The datatracker's model is more correct - and your last comment is the essential one. 608 was _already_ obsoleted by 810. It is a data inconsistency to have also said 952 obsoleted 608. I suspect that at the time, there was a desire to make sure that readers of 952 didn't have to follow that chain, so the header was updated. If it was important to do that today, there would be prose, not header metadata in the published RFC.

Closing this as "won't fix".

Understood.  Thank you for the reply.