Search for RFCs by author/affiliation does not seem very good

### Describe the issue

If I search for RFCs on datatracker.ietf.org using "Additional search criteria" and look for RFCs with authors with a "Cloudflare" affiliation, I get a list of documents that seems not entirely accurate.

For example:

- it doesn't include RFC 9530 or RFC 9297 which both have an author with the affiliation "Cloudflare".
- It does include RFC 9614 which does not include any author with the affiliation "Cloudflare"

Two representative screenshots attached, in case this is transient behaviour.

![Image](https://github.com/user-attachments/assets/01ff9c85-aea5-4927-ab93-2962ecaafba2)

![Image](https://github.com/user-attachments/assets/82efecea-e816-49d1-a47e-74eb69f0b956)


### Code of Conduct

- [x] I agree to follow the [IETF's Code of Conduct](https://github.com/ietf-tools/.github/blob/main/CODE_OF_CONDUCT.md)