Wrongly sorted Updates list for RFCs on the search result page

`type_defect`   |    by magnus.westerlund@ericsson.com

___


I searched for RFC 792 by entering just "792" in the search field at the right top of the tracker. Thus resulting in the result page:

https://datatracker.ietf.org/doc/search/?name=792&activedrafts=on&rfcs=on

Looking at the entry for RFC 792 at this page I gets an list of RFC that updates it: "Updated by RFC4884, RFC6633, RFC6918, RFC950"

As you can see that is wrongly sorted as RFC950 comes last instead of first. 
This is however correct looking at the RFC792 page:
https://datatracker.ietf.org/doc/rfc792/ where the list is given as:
Updated by RFC 950, RFC 4884, RFC 6633, RFC 6918

It would be good to get the same sorting in the search results as for the individual RFC page.


___
_Issue migrated from trac:2441 at 2022-03-04 06:38:15 +0000_