Ajax search not returning expected results

As part of the bs5 work, I converted the top-right-corner document search box to be select2-based, i.e., AJAX/JSON-based. I just realized that not all expected results are being shown.

For example, entering `rfc900` into the box shows only "RFC900" as a result, but not RFC9000, RFC9001 or any other document containing that string.

Similarly, entering `8312` as a search term finds two I-Ds, but not RFC8312.

This seems to be because this code
https://github.com/ietf-tools/datatracker/blob/main/ietf/doc/views_search.py#L581-L582
doesn't seem to match as I would expect it to. But my database-fu isn't good enough to have opinions on how to fix it.

The difference is in whether you're asking the endpoint to look at Document or DocAlias objects.
```
In [3]: Document.objects.filter(name__icontains='8312')
Out[3]: <QuerySet [<Document: draft-eggert-tcpm-rfc8312bis>, <Document: slides-110-tcpm-draft-eggert-tcpm-rfc8312bis>, <Document: draft-ietf-tcpm-rfc8312bis>]>

In [4]: DocAlias.objects.filter(name__icontains='8312')
Out[4]: <QuerySet [<DocAlias: draft-eggert-tcpm-rfc8312bis-->draft-eggert-tcpm-rfc8312bis>, <DocAlias: draft-ietf-tcpm-rfc8312bis-->draft-ietf-tcpm-rfc8312bis>, <DocAlias: rfc8312-->draft-ietf-tcpm-cubic>, <DocAlias: slides-110-tcpm-draft-eggert-tcpm-rfc8312bis-->slides-110-tcpm-draft-eggert-tcpm-rfc8312bis>]>
```

When you are making your call, which model are you specifying? For the search page you're working on, this should always be DocAlias, no?

ps: this will change when we refactor rfcs to be their own document type, and DocAlias will become much less important.

pps : reading this bit of code again, I see we're relying heavily on django to sanitize the user input. _Probably_ reasonable in this case, but we might want to leave a note that we've looked and think it's ok.


I copied the AJAX URL from the milestone edit form, which has the same behavior. I'll check next week if it uses DocAlias.

milestone edit is operation on charters, and it wouldn't make a difference which model it's using, because at the moment we don't have any alias for charters other than their document names.