References are not updated when RFC is published

### Describe the issue

The datatracker page for a document has "References" button which lists the references of this document. For RFCs this list includes only other RFCs (not I-Ds). When RFC is being published its references are often being changed by the RFC Editor. There are few common cases - if a document is part of a cluster (so the RFCs it could be reference just not exists before its publication), or if a referenced I-D has been published as RFC before this document or when a newer referenced RFC has been published.

Examples are:
RFC 9347 references RFC 9348 & RFC 9349, which are not listed at all (they all are part of a cluster)
RFC 9347 references RFC 9329, which in the list is shown as RFC 8229 (obsoleted by 9329)
RFC 9329 references RFC 9325, which is not is not listed at all (it was referenced as I-D at the time 9329 was approved, but was published before 9329, so the RFC Editor updated reference)

The reason, as I can see it - the algorithm extracting references from a document only runs for an I-D and is not run when the I-D is finally published as RFC. I think it should be re-run once the RFC is published, so the information on the datatracker document's page is correct.

### Code of Conduct

- [X] I agree to follow the [IETF's Code of Conduct](https://github.com/ietf-tools/.github/blob/main/CODE_OF_CONDUCT.md)

This will be fixed by #5037

We still need to recompute the references for the last several months worth of submissions.

(For completeness, this will be touched again when we make RFCs first-class document objects. RFCs are also guaranteed to come to us in XMLRFC).

Hi, any update on this one?

Still in the queue. We're getting much closer to the end of the transition projects, and will have time to address things like this again.

This should have been fixed by 12.57.0 - verifying some remaining edge cases, but closing this issue.