rfc-index.txt example is incorrect

### Describe the issue

The example at the top of https://www.rfc-editor.org/rfc-index.txt (which comes from ietf.templates.sync.rfc-index.txt) is incorrect because it shows a See Also `(Also RFC1119)` when the rfc-index itself does not show any See Alsos:

Current:
```
For example:

  1129 Internet Time Synchronization: The Network Time Protocol. D.L.
       Mills. October 1989. (Format: TXT, PS, PDF, HTML) (Also RFC1119)
       (Status: INFORMATIONAL) (DOI: 10.17487/RFC1129)
```
And the actual entry shows (no See Also):
```
1129 Internet Time Synchronization: The Network Time Protocol. D.L.
     Mills. October 1989. (Format: TXT, PS, PDF, HTML) (Status:
     INFORMATIONAL) (DOI: 10.17487/RFC1129)
```

Let's replace the example with a newer STD:

```
9915 Dynamic Host Configuration Protocol for IPv6 (DHCPv6). T. Mrugalski,
     B. Volz, M. Richardson, S. Jiang, T. Winters. January 2026. (Format:
     HTML, TXT, PDF, XML) (Obsoletes RFC8415) (Also STD102) (Status:
     INTERNET STANDARD) (DOI: 10.17487/RFC9915)
```

### Code of Conduct

- [x] I agree to follow the [IETF's Code of Conduct](https://github.com/ietf-tools/.github/blob/main/CODE_OF_CONDUCT.md)