Cite 9389 for NomCom

### Describe the issue

https://datatracker.ietf.org/accounts/profile/ says: 

> See RFC 8713 for eligibility requirements. For the 2021 and 2022 NomComs, see also RFC 8989.

Can this be updated to point to RFC 9389 instead (or as well)?

### Code of Conduct

- [X] I agree to follow the [IETF's Code of Conduct](https://github.com/ietf-tools/.github/blob/main/CODE_OF_CONDUCT.md)