Errata Report for RFC 3581: Incorrect reference in Section 3

### Describe the issue

Dear RFC Editor,

I would like to report an error in RFC 3581, "An Extension to the Session Initiation Protocol (SIP) for Symmetric Response Routing".

In Section 3, "Client Behavior", the following sentence contains an incorrect reference:

"As specified in Section 18.1.1 of SIP [1]."

The reference points to RFC 3581, but RFC 3581 does not contain a Section 18.1.1. The correct reference should point to Section 18.1.1 of RFC 3261, which is the core SIP specification.

Correct reference:
https://datatracker.ietf.org/doc/html/rfc3261#section-18.1.1

Please consider updating the RFC to correct this error.

### Code of Conduct

- [x] I agree to follow the [IETF's Code of Conduct](https://github.com/ietf-tools/.github/blob/main/CODE_OF_CONDUCT.md)

Any erratas on RFCs should be reported to [RFC editor](https://www.rfc-editor.org/errata.php).