dt-rfc Profile pages have different RFC lists and lists all RFC numbers as "RFC None"

### Describe the issue

The RFC links also point to the I-D rather than the RFC. For example, https://dt-rfc.dev.ietf.org/person/Sandy%20Ginoza shows the following:

[RFC None](https://dt-rfc.dev.ietf.org/doc/draft-ietf-genarea-datatracker-iana-rfced-extns/)	Jun 2011	Datatracker Extensions to Include IANA and RFC Editor Processing Information	
[RFC None](https://dt-rfc.dev.ietf.org/doc/draft-rfced-rfcxx00-retired/)	Sep 2013	List of Internet Official Protocol Standards: Replaced by a Web Page

Whereas the deployed version of datatracker shows the following for https://datatracker.ietf.org/person/Sandy%20Ginoza:

[RFC 2699](https://datatracker.ietf.org/doc/rfc2699/)	May 2000	Request for Comments Summary RFC Numbers 2600-2699	
[RFC 2799](https://datatracker.ietf.org/doc/rfc2799/)	Sep 2000	Request for Comments Summary RFC Numbers 2700-2799	
[RFC 2899](https://datatracker.ietf.org/doc/rfc2899/)	May 2001	Request for Comments Summary RFC Numbers 2800-2899	
[RFC 2999](https://datatracker.ietf.org/doc/rfc2999/)	Aug 2001	Request for Comments Summary RFC Numbers 2900-2999	
[RFC 3099](https://datatracker.ietf.org/doc/rfc3099/)	Nov 2001	Request for Comments Summary RFC Numbers 3000-3099	
[RFC 3199](https://datatracker.ietf.org/doc/rfc3199/)	Feb 2003	Request for Comments Summary RFC Numbers 3100-3199	
[RFC 3299](https://datatracker.ietf.org/doc/rfc3299/)	Dec 2003	Request for Comments Summary RFC Numbers 3200-3299	
[RFC 3499](https://datatracker.ietf.org/doc/rfc3499/)	Dec 2003	Request for Comments Summary RFC Numbers 3400-3499	
[RFC 3599](https://datatracker.ietf.org/doc/rfc3599/)	Dec 2003	Request for Comments Summary RFC Numbers 3500-3599	
[RFC 6359](https://datatracker.ietf.org/doc/rfc6359/)	Sep 2011	Datatracker Extensions to Include IANA and RFC Editor Processing Information	
[RFC 7101](https://datatracker.ietf.org/doc/rfc7101/)	Dec 2013	List of Internet Official Protocol Standards: Replaced by a Web Page

### Code of Conduct

- [X] I agree to follow the [IETF's Code of Conduct](https://github.com/ietf-tools/.github/blob/main/CODE_OF_CONDUCT.md)

Fixed by #6639