Patent terms disclosure incorrectly requires a patent number

### Describe the issue

The fields of section V.A. of the "[File a disclosure about your IPR related to a specific IETF contribution](https://sandbox.ietf.org/ipr/new-specific/)" filing page are marked as mandatory. And they are policed as such.

But they should only be mandatory *if* section V.A. applies. That is, as the text says, "For granted patents or published pending patent applications".

In some cases, the discloser wishes to grant license for any current or future IPR owned by the disclosing company. Here, they would not fill in section V, and would go straight to section VI

At the moment, this is preventing a specific company from entering the license terms below.

/If technology in this document is included in a standard
adopted by IETF and any claims of any FooCorp patents are
necessary for practicing the standard, any party will have
the right to use any such patent claims under reasonable,
non-discriminatory terms, with reciprocity, to implement and
fully comply with the standard./

/The reasonable non-discriminatory terms are:/

/If this standard is adopted, FooCorp will not assert any
patents owned or controlled by FooCorp against any party for
making, using, selling, importing or offering for sale a
product that implements the standard, provided, however that
FooCorp retains the right to assert its patents (including the
right to claim past royalties) against any party that 
asserts a patent it owns or controls (either directly or
indirectly) against FooCorp or any of FooCorp's affiliates or
successors in title or against any products of FooCorp or any
products of any of FooCorp's affiliates either alone or in
combination with other products; and FooCorp retains the right
to assert its patents against any product or portion thereof
that is not necessary for compliance with the standard./

/Royalty-bearing licenses will be available to anyone who
prefers that option./




### Code of Conduct

- [X] I agree to follow the [IETF's Code of Conduct](https://github.com/ietf-tools/.github/blob/main/CODE_OF_CONDUCT.md)

I think @AdrianFarrel is correct here. What should probably happen is that if one ticks the "Has patent pending" under V.B, the fields under V.A should stop being required. 

(It may also make make sense to swap V.A and V.B, but that needs more discussion.)

Very belatedly weighing in here, a couple of thoughts:

* Even unpublished provisional patent applications have application numbers, and the form does seem to contemplate "application numbers" in the "patent number" field. So, if there is a known patent application, my understanding is that there would be a number that could be provided. (The subsequent checkbox that informs about it being unpublished would be an indication that the application number won't be useful for looking anything up.) So maybe nothing is broken?
* Adrian also may be raising a different issue though: what if a party wants to make a blanket royalty free disclosure, as described in RFC 8179 Section 5.4.3 -- i.e., without necessarily identifying particular patent details? I'd guess that the RFC drafters assumed that that this would be made via the General IPR Disclosure Form (<https://datatracker.ietf.org/ipr/new-general/>). But I see that this form doesn't provide a hook to specific draft documents, and looking through recent general disclosures, I don't see good examples of this being done. Still, I'd say that there is a mechanism to do the blanket RF disclosure via the general form. 

So, maybe no bugs?



Weeeeeeeeeell, I dunno.

My cache has been thoroughly flushed, so I'm going back to try to recreate this.

1. It seems to me that V.A. has an explicit title. "For granted patents or published pending patent applications, please provide the following information:" So, either this title is wrong, or the information is not required in case of V.B. This is something of a minor issue, but will at least confuse the person trying to be helpful with a disclosure.

2. The main desire was to file a "blanket" disclosure against a specific piece of IETF work. Looking at https://datatracker.ietf.org/ipr/about/ there is only the option to go to https://datatracker.ietf.org/ipr/new-specific/ to "File a disclosure about your IPR related to a specific IETF contribution" (which is what I reported against) or to https://datatracker.ietf.org/ipr/new-general/ to "File an IPR disclosure that is not related to a specific IETF contribution". This second page _**is**_ a blanket disclosure, but it is orthogonal. That is, it says "I have IPR and I'm disclosing it and the license terms, and that license is applicable to any and all IETF work." That's not what FooCorp was looking for - they wanted to be specific about the IETF work (RFCxxxx and draft-foocorp-fiddle) and grant license on any and all IPR they own (without having to list the numbers). Now, admittedly, they could carefully trawl their IPR database and list all IPR they own (relevant or not), but that seems painful and unnecessary.

Ciao,
Adrian

The general disclosure _can_ identify specific ietf work in its free text - I think that's how it was envisioned to be used.
But I think what Adrian is hoping for is that the kind of statement he's describing becomes linked to specific documents in the datatracker (showing on their IPR search links).

To point out edges (this is not a concrete proposal for the way forward - just a strawman): allowing a checkbox that says "All IPR held by our organization" as an alternative to filling in the application numbers. Would such a thing ever get pushed?

First, on the point about whether the patent number field should be mandatory, I do think the fix could be as simple as striking the word "published" from the instruction line and expecting that disclosers will provide either a patent number or an application number, even for unpublished applications, with the V.B checkbox serving only as an indication that trying to look up the application won't get you much. 

The knottier question is how to handle blanket RF disclosures. My general view is that we have a potentially fragile stasis around IPR (with some complex and controversial issues lurking around the edges of our model), and I worry about unintended consequences anytime we open up IPR issues, even seemingly-simple ones. I'd say: there is a mechanism to do blanket RF disclosures, as permitted by 8179, via the general disclosure form. Absent some compelling problem that necessitates change, I'm inclined to stick with the status quo.   
