draft-XX.all@ietf.org Rejected as spam

### Describe the issue

Hi,

I just mad a reply all to a SECDIR review for a draft and the mail came back from ietfa.amsl.com considered as spam (see below). Interestingly when sending to draft-xx@ietf.org instead of draft-xx.ALL@ietf.org the mail goes through.
```
Delivered-To: ggx@gigix.net
Received: by 2002:ac8:4110:0:b0:2f9:cd9:70b4 with SMTP id q16csp7163847qtl;
        Wed, 8 Jun 2022 05:37:41 -0700 (PDT)
X-Google-Smtp-Source: ABdhPJxU98IfZ/C6AZhULA2tJhuQvL2fZh+EROO1Wbj4GfgS1IXT+LgKalzLx3efC4vEC1jqgGti
X-Received: by 2002:a17:903:2cb:b0:14f:4fb6:2fb0 with SMTP id s11-20020a17090302cb00b0014f4fb62fb0mr33418976plk.172.1654691861643;
        Wed, 08 Jun 2022 05:37:41 -0700 (PDT)
ARC-Seal: i=1; a=rsa-sha256; t=1654691861; cv=none;
        d=google.com; s=arc-20160816;
        b=lWo4wPCtZyKCTZ8mvwOuSYzv1Jz3kLIjM6eXEKD62TlE5iFj5t3fbfBwf/HCzwFp9Y
         AVZ0tLWg8Ux3lTxbsAUiDTbBsoXIKzqv9ZNuXjkTgNwkil1LtfVOTZHRerlPxwbmPQoX
         RR0ieF473fC3Z+hQ7CRWDX677Djo7m8HcuO2XSd397dw3MLlXN3MOjWEiCfjcFFXi5dI
         z9NFnp3DkxZBUoFRd1AC9nS+3v3QpDsWEuzsFLdTxuXbwmTbOuO6GJhFggf4a2EP2EMV
         8YxdfSLzssNBs8nCvrHkwdEnZdPS2GojXLCjF1kKidRzkeo6LTR4X9Tu1G4a75iLFE1m
         2tBQ==
ARC-Message-Signature: i=1; a=rsa-sha256; c=relaxed/relaxed; d=google.com; s=arc-20160816;
        h=message-id:mime-version:auto-submitted:to:subject:from:date;
        bh=/9C5Q3H/LMsDrbg44/xYoT8OTgk/Lgmvuiy6sq79TKs=;
        b=ZcWIp75qMFOPBdleBqEK2m+Pb9yVLNrrmuevvJqxF+JMmZEsypjrjagK/wUxgI+txP
         SBh41hfFzdTX0qoeAvtGSKPb9ERziDoPPYomCafTdbSHM1mQU3hlvgHkR+ZroC7v7zCl
         vN3pTBd4hR4Jcu+O3HGMmdCgj4tbPy2GX0GR+FuhH/p1IMaCp0mtRLpIOY/xW8NFSwXY
         tAt6GfCIXJh2Nx9UHlU0QLOYSr+KIBpUEazd0EnedLC5JllYKA0Imc8cTZJqvyrGp7EI
         MpH/lkMz9SHtFvzTXdgm7WkclGCLDOa0AbC2IhWL1lSkmDxGJDpcfYYg39H5NgCl3lCg
         /10w==
ARC-Authentication-Results: i=1; mx.google.com;
       spf=pass (google.com: best guess record for domain of postmaster@mail.ietf.org designates 50.223.129.194 as permitted sender) smtp.helo=mail.ietf.org
Return-Path: <>
Received: from mail.ietf.org (mail.ietf.org. [50.223.129.194])
        by mx.google.com with ESMTPS id bi10-20020a170902bf0a00b0015d168a0c7fsi27835770plb.94.2022.06.08.05.37.41
        for <ggx@gigix.net>
        (version=TLS1_3 cipher=TLS_AES_256_GCM_SHA384 bits=256/256);
        Wed, 08 Jun 2022 05:37:41 -0700 (PDT)
Received-SPF: pass (google.com: best guess record for domain of postmaster@mail.ietf.org designates 50.223.129.194 as permitted sender) client-ip=50.223.129.194;
Authentication-Results: mx.google.com;
       spf=pass (google.com: best guess record for domain of postmaster@mail.ietf.org designates 50.223.129.194 as permitted sender) smtp.helo=mail.ietf.org
Received: by ietfa.amsl.com (Postfix)
	id E94E6C14F736; Wed,  8 Jun 2022 05:37:34 -0700 (PDT)
Date: Wed,  8 Jun 2022 05:37:34 -0700 (PDT)
From: MAILER-DAEMON@ietfa.amsl.com (Mail Delivery System)
Subject: Undelivered Mail Returned to Sender
To: ggx@gigix.net
Auto-Submitted: auto-replied
MIME-Version: 1.0
Content-Type: multipart/report; report-type=delivery-status;
	boundary="81E31C157B34.1654691854/ietfa.amsl.com"
Message-Id: <20220608123734.E94E6C14F736@ietfa.amsl.com>

This is a MIME-encapsulated message.

--81E31C157B34.1654691854/ietfa.amsl.com
Content-Description: Notification
Content-Type: text/plain; charset=us-ascii

This is the mail system at host ietfa.amsl.com.

I'm sorry to have to inform you that your message could not
be delivered to one or more recipients. It's attached below.

For further assistance, please send mail to postmaster.

If you do so, please include this problem report. You can
delete your own text from the attached returned message.

                   The mail system

<aretana.ietf@gmail.com> (expanded from
    <expand-draft-ietf-lisp-sec.all@virtual.ietf.org>): host
    gmail-smtp-in.l.google.com[142.250.142.26] said: 550-5.7.1 [50.223.129.194
    12] Our system has detected that this message is 550-5.7.1 likely
    unsolicited mail. To reduce the amount of spam sent to Gmail, 550-5.7.1
    this message has been blocked. Please visit 550-5.7.1
    https://support.google.com/mail/?p=UnsolicitedMessageError 550 5.7.1  for
    more information. 36-20020a630c64000000b003f641a6fe83si27968384pgm.277 -
    gsmtp (in reply to end of DATA command)

<ermagan@gmail.com> (expanded from
    <expand-draft-ietf-lisp-sec.all@virtual.ietf.org>): host
    gmail-smtp-in.l.google.com[142.250.142.26] said: 550-5.7.1 [50.223.129.194
    12] Our system has detected that this message is 550-5.7.1 likely
    unsolicited mail. To reduce the amount of spam sent to Gmail, 550-5.7.1
    this message has been blocked. Please visit 550-5.7.1
    https://support.google.com/mail/?p=UnsolicitedMessageError 550 5.7.1  for
    more information. 36-20020a630c64000000b003f641a6fe83si27968384pgm.277 -
    gsmtp (in reply to end of DATA command)

<padma.ietf@gmail.com> (expanded from
    <expand-draft-ietf-lisp-sec.all@virtual.ietf.org>): host
    gmail-smtp-in.l.google.com[142.250.142.26] said: 550-5.7.1 [50.223.129.194
    12] Our system has detected that this message is 550-5.7.1 likely
    unsolicited mail. To reduce the amount of spam sent to Gmail, 550-5.7.1
    this message has been blocked. Please visit 550-5.7.1
    https://support.google.com/mail/?p=UnsolicitedMessageError 550 5.7.1  for
    more information. 36-20020a630c64000000b003f641a6fe83si27968384pgm.277 -
    gsmtp (in reply to end of DATA command)

--81E31C157B34.1654691854/ietfa.amsl.com
Content-Description: Delivery report
Content-Type: message/delivery-status

Reporting-MTA: dns; ietfa.amsl.com
X-Postfix-Queue-ID: 81E31C157B34
X-Postfix-Sender: rfc822; ggx@gigix.net
Arrival-Date: Wed,  8 Jun 2022 05:37:22 -0700 (PDT)

Final-Recipient: rfc822; aretana.ietf@gmail.com
Original-Recipient: rfc822;expand-draft-ietf-lisp-sec.all@virtual.ietf.org
Action: failed
Status: 5.7.1
Remote-MTA: dns; gmail-smtp-in.l.google.com
Diagnostic-Code: smtp; 550-5.7.1 [50.223.129.194      12] Our system has
    detected that this message is 550-5.7.1 likely unsolicited mail. To reduce
    the amount of spam sent to Gmail, 550-5.7.1 this message has been blocked.
    Please visit 550-5.7.1
    https://support.google.com/mail/?p=UnsolicitedMessageError 550 5.7.1  for
    more information. 36-20020a630c64000000b003f641a6fe83si27968384pgm.277 -
    gsmtp

Final-Recipient: rfc822; ermagan@gmail.com
Original-Recipient: rfc822;expand-draft-ietf-lisp-sec.all@virtual.ietf.org
Action: failed
Status: 5.7.1
Remote-MTA: dns; gmail-smtp-in.l.google.com
Diagnostic-Code: smtp; 550-5.7.1 [50.223.129.194      12] Our system has
    detected that this message is 550-5.7.1 likely unsolicited mail. To reduce
    the amount of spam sent to Gmail, 550-5.7.1 this message has been blocked.
    Please visit 550-5.7.1
    https://support.google.com/mail/?p=UnsolicitedMessageError 550 5.7.1  for
    more information. 36-20020a630c64000000b003f641a6fe83si27968384pgm.277 -
    gsmtp

Final-Recipient: rfc822; padma.ietf@gmail.com
Original-Recipient: rfc822;expand-draft-ietf-lisp-sec.all@virtual.ietf.org
Action: failed
Status: 5.7.1
Remote-MTA: dns; gmail-smtp-in.l.google.com
Diagnostic-Code: smtp; 550-5.7.1 [50.223.129.194      12] Our system has
    detected that this message is 550-5.7.1 likely unsolicited mail. To reduce
    the amount of spam sent to Gmail, 550-5.7.1 this message has been blocked.
    Please visit 550-5.7.1
    https://support.google.com/mail/?p=UnsolicitedMessageError 550 5.7.1  for
    more information. 36-20020a630c64000000b003f641a6fe83si27968384pgm.277 -
    gsmtp

--81E31C157B34.1654691854/ietfa.amsl.com
Content-Description: Undelivered Message
Content-Type: message/rfc822

Return-Path: <ggx@gigix.net>
Received: by ietfa.amsl.com (Postfix, from userid 65534)
	id 81E31C157B34; Wed,  8 Jun 2022 05:37:22 -0700 (PDT)
X-Original-To: xfilter-draft-ietf-lisp-sec.all@ietfa.amsl.com
Delivered-To: xfilter-draft-ietf-lisp-sec.all@ietfa.amsl.com
Received: from localhost (localhost [127.0.0.1])
 by ietfa.amsl.com (Postfix) with ESMTP id 77C9BC14F736
 for <xfilter-draft-ietf-lisp-sec.all@ietfa.amsl.com>;
 Wed,  8 Jun 2022 05:37:22 -0700 (PDT)
X-Virus-Scanned: amavisd-new at amsl.com
X-Spam-Flag: NO
X-Spam-Score: -1.908
X-Spam-Level: 
X-Spam-Status: No, score=-1.908 tagged_above=-999 required=5
 tests=[BAYES_00=-1.9, DKIM_SIGNED=0.1, DKIM_VALID=-0.1,
 HTML_MESSAGE=0.001, RCVD_IN_ZEN_BLOCKED_OPENDNS=0.001,
 SPF_HELO_NONE=0.001, SPF_PASS=-0.001, T_SCC_BODY_TEXT_LINE=-0.01]
 autolearn=ham autolearn_force=no
Authentication-Results: ietfa.amsl.com (amavisd-new); dkim=pass (2048-bit key)
 header.d=gigix-net.20210112.gappssmtp.com
Received: from mail.ietf.org ([50.223.129.194])
 by localhost (ietfa.amsl.com [127.0.0.1]) (amavisd-new, port 10024)
 with ESMTP id q_-xGq6DIGVH
 for <xfilter-draft-ietf-lisp-sec.all@ietfa.amsl.com>;
 Wed,  8 Jun 2022 05:37:20 -0700 (PDT)
Received: from mail-wr1-x433.google.com (mail-wr1-x433.google.com
 [IPv6:2a00:1450:4864:20::433])
 (using TLSv1.3 with cipher TLS_AES_128_GCM_SHA256 (128/128 bits)
 key-exchange X25519 server-signature RSA-PSS (2048 bits) server-digest SHA256)
 (No client certificate requested)
 by ietfa.amsl.com (Postfix) with ESMTPS id 10276C157B34
 for <draft-ietf-lisp-sec.all@ietf.org>; Wed,  8 Jun 2022 05:37:20 -0700 (PDT)
Received: by mail-wr1-x433.google.com with SMTP id u8so23864750wrm.13
 for <draft-ietf-lisp-sec.all@ietf.org>; Wed, 08 Jun 2022 05:37:19 -0700 (PDT)
DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;
 d=gigix-net.20210112.gappssmtp.com; s=20210112;
 h=from:message-id:mime-version:subject:date:in-reply-to:cc:to
 :references; bh=PeHdeqWY7fCRWO9KWCODa4d98Dl36v/ZHGX6D8WJrUs=;
 b=HMBAJWlOlbxoX873iD8eLjGzbSJcENc0Y4m0DVys2t0CaneY9fuQXPAPUBFmR+6msB
 xBvTcs7pQEN344J5ulz9p5jQwmGFJp93vrj9qZ/A78ZaMu0avktOJqrX9FxGk7crwO2m
 sG4kKuCk7iWE6wAx7QeIinUGvViAZLfplymedpmQf1Ny5tF+2UXDozWuvJSojj0EdlFe
 oT+ZHWLzNF4OssmEDxhyrmhY4qgnCan43DayMhxzm0m7NAL7pKi9a94Q7henQ/WsjEvL
 ARYhrYiSCSRfeFcgslVyHKz3jDUu0yXynCHViRADD9D9uuYBy3RtVqp19DENcyYhFLtd
 BYRw==
X-Google-DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;
 d=1e100.net; s=20210112;
 h=x-gm-message-state:from:message-id:mime-version:subject:date
 :in-reply-to:cc:to:references;
 bh=PeHdeqWY7fCRWO9KWCODa4d98Dl36v/ZHGX6D8WJrUs=;
 b=eFqiOzE/FzEivivH6nY5iCWvvQmc0QYYa/58gSqLhCGGDRlbH3Emn6kg2hAw1eloK+
 8/95BH5iJ2xU11ExKCZVrsho/owb5vOt66SmB7an8fHIdjWbufA7VxQ1PI8LcxJdZfK7
 XjbHZUBQTkJpEtlQUvRl4uUQ2cuvZfUJxYO5RSrwKK5f6LyavdjWF5NCCVWFcoyX9nzb
 tuaIj9vTL9YQ5wyDoB0v+mBXTUf188CuvX5vYKIxpjDICSHSxLBWZVS0mmBe1PpBabo6
 L1p9rBr8SaOBr+Z91og7w9EXRth9BfsQcZBsqJYFC+c76Ls2IbK3uNpJy38flW1amcXK
 Dvdg==
X-Gm-Message-State: AOAM532hXMasSzR/PhfKVgtWNdxianJIDu6ECOk8AnJ+s3Wbcy/suvwM
 TIB+oFtSY/F4IvG9eQCKICmRD2P633o9XA==
X-Google-Smtp-Source: ABdhPJzoh0Bc7WuM3bpGn0kPcgM3hHxFULHkSUjG91wl0WoEEAgd0tRwdeE3DOTHWVj7hKxWL9o3Xw==
X-Received: by 2002:adf:f68f:0:b0:216:10c6:b389 with SMTP id
 v15-20020adff68f000000b0021610c6b389mr23870111wrp.251.1654691837957; 
 Wed, 08 Jun 2022 05:37:17 -0700 (PDT)
Received: from smtpclient.apple ([37.166.194.62])
 by smtp.gmail.com with ESMTPSA id
 s1-20020adfea81000000b00210320d9fbfsm25568580wrm.18.2022.06.08.05.37.16
 (version=TLS1_2 cipher=ECDHE-ECDSA-AES128-GCM-SHA256 bits=128/128);
 Wed, 08 Jun 2022 05:37:17 -0700 (PDT)
From: Luigi Iannone <ggx@gigix.net>
Message-Id: <6ECF9F57-308C-49F6-B2E2-0FB899DA4AEF@gigix.net>
Content-Type: multipart/alternative;
 boundary="Apple-Mail=_6C89C6C9-7099-4468-A97D-0C67EBC6DB81"
Mime-Version: 1.0 (Mac OS X Mail 16.0 \(3696.100.31\))
Subject: Re: Secdir last call review of draft-ietf-lisp-sec-26
Date: Wed, 8 Jun 2022 14:37:15 +0200
In-Reply-To: <422b173b-64b2-679b-2929-609dbdf3eb58@isode.com>
Cc: "secdir@ietf.org" <secdir@ietf.org>,
 draft-ietf-lisp-sec.all@ietf.org
To: Alexey Melnikov <alexey.melnikov@isode.com>
References: <422b173b-64b2-679b-2929-609dbdf3eb58@isode.com>
X-Mailer: Apple Mail (2.3696.100.31)
Resent-From: <alias-bounces@ietf.org>
Resent-To: acabello@ac.upc.edu, aretana.ietf@gmail.com, ermagan@gmail.com, ggx@gigix.net, jmh@joelhalpern.com, padma.ietf@gmail.com, jgs@juniper.net, fmaino@cisco.com, andrew-ietf@liquid.tech, damien.saucez@inria.fr
Resent-Message-Id: <20220608123722.81E31C157B34@ietfa.amsl.com>
Resent-Date: Wed,  8 Jun 2022 05:37:22 -0700 (PDT)


--Apple-Mail=_6C89C6C9-7099-4468-A97D-0C67EBC6DB81
Content-Transfer-Encoding: quoted-printable
Content-Type: text/plain;
	charset=utf-8

Hi Alexey,

As a shepherd I can give some answers to your question (authors can =
chime in to complete).

Please see inline.

> On 8 Jun 2022, at 11:36, Alexey Melnikov <alexey.melnikov@isode.com> =
wrote:
>=20
> Reviewer: Alexey Melnikov
> Review result: Has Nits
>=20
> I have reviewed this document as part of the security directorate's =
ongoing
> effort to review all IETF documents being processed by the IESG. These =
comments
> were written primarily for the benefit of the security area directors. =
Document
> editors and WG chairs should treat these comments just like any other =
last call
> comments.
>=20
> The security aspect of LISP is addressed not only in this draft but =
also in
> draft-ietf-lisp-rfc6833bis and in RFC7835. If I understood correctly, =
LISP-SEC builds
> on top of draft-ietf-lisp-rfc6833bis and it addresses a part of the =
threats mentioned
> in RFC7835. =46rom my reading of the document it seems to address =
threats specified
> in Section 4 of this draft.
>=20
> I have a few questions about the document, which might or might not =
result in any change:
>=20
> 1) Use of SHA-1 versa SHA-256 in various places:
>=20
> 6.  LISP-SEC Control Messages Details
>=20
>    These specifications use Keyed-Hashing for Message Authentication
>    (HMAC) in various places (as described in the following).  The HMAC
>    function AUTH-HMAC-SHA-1-96 [RFC2104] MUST be supported in LISP-SEC
>    implementations.
>=20
> 6.5.  Encrypting and Decrypting an OTK
>=20
>    Implementations of this specification MUST support OTK Wrapping ID
>    AES-KEY-WRAP-128+HKDF-SHA256 that specifies the use of the HKDF-
>    SHA256 Key Derivation Function specified in [RFC4868] to derive a
>    per-message encryption key (per-msg-key), as well as the AES-KEY-
>    WRAP-128 Key Wrap algorithm used to encrypt a 128-bit OTK, =
according
>    to [RFC3394].
>=20
> 6.9.  ITR Processing: Receiving a Map-Reply
>=20
>    The key derivation function HKDF-SHA1-128 [RFC5869] MUST be
>    supported.  Without consistent configuration of involved entities,
>    extra delays may be experienced.  However, since HKDF-SHA1-128 is
>    mandatory to implement, the process will eventually converge.
>=20
> Use of SHA-1 is generally not recommended these days, so I would like =
to understand why you chose to use it. Are there some backward =
compatibility issues or concerns about size of some fields?

AFAIR when this document was reviewed along with the bis documents we =
did not receive such observation.

> Also implementing just SHA-256 everywhere will make implementations =
simpler.
>=20

Wouldn=E2=80=99t this create an issue with older implementations?
Do you think that text could be adapted to RECOMMEND SHA-256 also =
expressing the concern that old implementation may not interoperate?


> As a side note, this is what I found in draft-ietf-lisp-rfc6833bis:
>=20
>    2.  Implementations SHOULD use the 'HMAC-SHA256-128+HKDF-SHA256' as
>        the Algorithm ID (Section 12.5) in Map-Register message
>        (Section 5.6), and MUST NOT use 'None' or 'HMAC-SHA-1-96-None' =
as
>        Algorithm ID (Section 12.5) in the Map-Register message
>        (Section 5.6)
>=20
>=20
>       1:  The KDF algorithm is identified by the field 'Algorithm ID'
>           according to the table in Section 12.5.  Implementations of
>           this specification MUST implement HMAC-SHA-256-128 [RFC4868]
>           and SHOULD implement HMAC-SHA-256-128+HKDF-SHA256 [RFC5869] =

--81E31C157B34.1654691854/ietfa.amsl.com--
``` 

### Code of Conduct

- [X] I agree to follow the [IETF's Code of Conduct](https://github.com/ietf-tools/.github/blob/main/CODE_OF_CONDUCT.md)

I'm fairly sure this another instance of trouble because we don't do dmarc rewriting for the aliases. That's a known shortcoming, but addressing it will likely be part of a larger bit of work coming later when we rework the mail chain as part of integrating mailman3.

I think this can be closed?

It's not a datatracker bug, but there's not a great place to track such reports elsewhere yet.
But yes, I'll close this so that it doesn't poke datatracker developers. The fix is in the rework of the mail chain.

Thanks

Luigi


> On 1 Aug 2022, at 16:54, Robert Sparks ***@***.***> wrote:
> 
> 
> It's not a datatracker bug, but there's not a great place to track such reports elsewhere yet.
> But yes, I'll close this so that it doesn't poke datatracker developers. The fix is in the rework of the mail chain.
> 
> —
> Reply to this email directly, view it on GitHub <https://github.com/ietf-tools/datatracker/issues/4068#issuecomment-1201312025>, or unsubscribe <https://github.com/notifications/unsubscribe-auth/AB5HQCREXOW2YYLVE5Q2STLVW7QL3ANCNFSM5YGNIJQA>.
> You are receiving this because you authored the thread.
> 

