Numerical/alphabetical sorting issue in the RFC list on user profile page

### Describe the issue

On my profile page:

https://datatracker.ietf.org/person/Gavin%20Brown

The RFCs are sorted in alphabetical order, not numerical order. So RFC 10037 appears before RFC 8334, which appears before RFC 8748.

### Code of Conduct

- [x] I agree to follow the [IETF's Code of Conduct](https://github.com/ietf-tools/.github/blob/main/CODE_OF_CONDUCT.md)

This is a duplicate! Sorry for the noise.