xml with xi:include should not be allowed into the draft repository

For us to truly know what was submitted (for note well purposes) internet-drafts in the repository really need be self-contained. They should not rely on external content, and in particular, should not have any xi:includes remaining.

However, authors need to be able to manage source that carries pointers to, for instance, reference bibxml for the "current" version of a thing being referenced.

We need to consider tooling that prepares a document for submission, fully expanding the includes in such a way that a future user of the submitted xml file can trivially reverse the preparation to recover the pointers to the external content. The result should be such that a diff before and after the preparation makes it trivially easy to see that the includes were expanded and where they were expanded from.

This tooling should exist both for authors locally (where the expansion can fetch from arbitrary places) and in the submit tool itself (where expansion will be limited to well-known "safe" places to fetch from).

We may also want to consider moving back to the ability to indicate a reference with a token with a well-known structure rather than providing a URL.

This has repercussions for almost all tooling involved in authoring, so a plan needs to be built with a timeline allowing such tooling to adapt. In particular @cabo and @martinthomson need to weigh in.

---
Aggregated with agent assistance on 2026-08-18

see also #3570 and #3576

On 2022-03-04, at 21:31, Robert Sparks ***@***.***> wrote:
> 
> This has repercussions for almost all tooling involved in authoring, so a plan needs to be built with a timeline allowing such tooling to adapt. In particular @cabo and @martinthomson need to weigh in.

Kramdown-rfc (*) generates fully resolved XML, so for the immediate issue there is not a problem.

Kramdown-rfc makes its own fetches from bibxml servers.  There is a default server that kramdown-rfc imposes, and the tool can be redirected to different sources only by environment variables (i.e., not from the document).

Kramdown-rfc itself does have a {::include feature, which can be switched off by KRAMDOWN_SAFE (as is done on author-tools.ietf.org, AFAIK).  This is a very useful feature when constructing documents from multiple files in the repo (and it also generates fully resolved XML, so there is no submission problem), so it probably should remain on by default.  We might want to restrict the places from which included text can be pulled, however it is hard to avoid that attacks with symlinks in repos remain possible.

Clearly, embedding URLs in the authoring document that are indiscriminately resolved upon processing is not the way to go.
(Requiring authors that author in XML to type in full URIs where reference tokens sufficed in v2 also was one of the more obviously author-hostile decisions in v3, but was easily solved by using the v2v3 function.)

Note that SYSTEM entities (**) are another way to dereference URLs in RFCXML, in addition to xi:include.

Grüße, Carsten

(*) Unless stand_alone is not set to true.
stand_alone: true is the normal way of running kramdown-rfc (also now implied by “v: 3”, but not yet default for backwards compatibility reasons).

(**) which are also generated by kramdown-rfc with stand_alone: false, while losing some of the functionality of reference processing such as setting anchor names.
Example (from rfc6775.xml as we used it during AUTH48):

<?xml version="1.0" encoding="US-ASCII"?>

<!DOCTYPE rfc SYSTEM "rfc2629.dtd" [
<!ENTITY RFC2119 SYSTEM "http://xml.resource.org/public/rfc/bibxml/reference.RFC.2119.xml">
<!ENTITY RFC5226 SYSTEM "http://xml.resource.org/public/rfc/bibxml/reference.RFC.5226.xml">
<!ENTITY RFC2460 SYSTEM "http://xml.resource.org/public/rfc/bibxml/reference.RFC.2460.xml">
<!ENTITY RFC2491 SYSTEM "http://xml.resource.org/public/rfc/bibxml/reference.RFC.2491.xml">
<!ENTITY RFC3315 SYSTEM "http://xml.resource.org/public/rfc/bibxml/reference.RFC.3315.xml">
<!ENTITY RFC3633 SYSTEM "http://xml.resource.org/public/rfc/bibxml/reference.RFC.3633.xml">
<!ENTITY RFC3971 SYSTEM "http://xml.resource.org/public/rfc/bibxml/reference.RFC.3971.xml">
<!ENTITY RFC3972 SYSTEM "http://xml.resource.org/public/rfc/bibxml/reference.RFC.3972.xml">
<!ENTITY RFC3756 SYSTEM "http://xml.resource.org/public/rfc/bibxml/reference.RFC.3756.xml">
<!ENTITY RFC4191 SYSTEM "http://xml.resource.org/public/rfc/bibxml/reference.RFC.4191.xml">
<!ENTITY RFC4193 SYSTEM "http://xml.resource.org/public/rfc/bibxml/reference.RFC.4193.xml">
<!ENTITY RFC4291 SYSTEM "http://xml.resource.org/public/rfc/bibxml/reference.RFC.4291.xml">
<!ENTITY RFC4429 SYSTEM "http://xml.resource.org/public/rfc/bibxml/reference.RFC.4429.xml">
<!ENTITY RFC4443 SYSTEM "http://xml.resource.org/public/rfc/bibxml/reference.RFC.4443.xml">
<!ENTITY RFC4861 SYSTEM "http://xml.resource.org/public/rfc/bibxml/reference.RFC.4861.xml">
<!ENTITY RFC4862 SYSTEM "http://xml.resource.org/public/rfc/bibxml/reference.RFC.4862.xml">
<!ENTITY RFC4919 SYSTEM "http://xml.resource.org/public/rfc/bibxml/reference.RFC.4919.xml">
<!ENTITY RFC4941 SYSTEM "http://xml.resource.org/public/rfc/bibxml/reference.RFC.4941.xml">
<!ENTITY RFC4944 SYSTEM "http://xml.resource.org/public/rfc/bibxml/reference.RFC.4944.xml">
<!ENTITY RFC6106 SYSTEM "http://xml.resource.org/public/rfc/bibxml/reference.RFC.6106.xml">
<!ENTITY RFC5889 SYSTEM "http://xml.resource.org/public/rfc/bibxml/reference.RFC.5889.xml">
<!ENTITY RFC6059 SYSTEM "http://xml.resource.org/public/rfc/bibxml/reference.RFC.6059.xml">
<!ENTITY RFC6282 SYSTEM "http://xml.resource.org/public/rfc/bibxml/reference.RFC.6282.xml">
]>
<?xml-stylesheet type='text/xsl' href='rfc2629.xslt' ?>
[…]



I currently rely fairly extensively on @cabo's kramdown-rfc for most drafts I'm involved with, as do many others that I'm aware of.  There are a few cases where external references are used, but those are generally XML format drafts, like RFC 6775 from [this comment](https://github.com/ietf-tools/datatracker/issues/3577#issuecomment-1059563000).

I think that the plan of resolving entities and `xi:include` during submission is a good one.  I've observed that the v2v3 tool does not resolve `xi:include` piece, but it does resolve entities.  I already run v2v3 for most things in CI (which would undo the work of `standalone: false` done by kramdown-rfc if you are using that...).

If there was another option on that tool that pulled in `xi:include` imports, I would be very happy to run that in CI so that the datatracker does not have to.  It's probably less reliable (failed fetches are the number 1 reason for failing builds in my experience), but it would mean less divergence between what is submitted and what is used, which I think is worthwhile trying to achieve.

@reschke's tools generally favour (but don't require) a fully standalone document with resolved references.  He might also provide some insights here.

> @reschke's tools generally favour (but don't require) a fully standalone document with resolved references. He might also provide some insights here.

It's more like that: *I* prefer standalone documents, for all the reasons discussed. My tools process includes as far as possible; that is, if XSLT runs in a browser, it's limited to the browser's security constraints.

In general, I think that standalone plus the ability to *refresh* what has been included before is the way to go.